body {
  min-height: 600px;
}
.bg-brand {
  background-color: #6559d4;
/*  background-color: #146c43;*/
  background-color: #0d6efd;
}
.bg-brand-border {
  border-bottom: 5px solid #463bab;
  border-bottom: 5px solid #0a58ca;
}
.bg-indigo {
  color: #fff;
  background-color: #6610f2;
}
.bg-indigo-border {
  border-bottom: 5px solid #520dc2;
}
.navbar-brand {
  font-family: 'Ysabeau', sans-serif;
/*  color: #ffc107;*/
  font-weight: bold;
  text-transform: uppercase;
}
.text-bg-dark {
  background-color: #6559d4;
}
.featurette-heading {
  letter-spacing: -.05rem;
}
.navbar .navbar-nav > .nav-item > .nav-link {
  color: rgb(255 255 255 / 80%);
}

/* CUSTOM COLORS
-------------------------------------------------- */

.text-added { color: #ced4da; }
.text-received { color: #ffcd39; }
.text-sent { color: #3dd5f3; }
.text-arrived { color: #4dd4ac; }

.bg-added { background-color: #ced4da !important; }
.bg-received { background-color: #ffcd39 !important; }
.bg-sent { background-color: #3dd5f3 !important; }
.bg-arrived { background-color: #4dd4ac !important; }
.bg-given { background-color: #20c997 !important; }
.bg-green-jd { background-color: #479f76 !important; }


/* RESPONSIVE
-------------------------------------------------- */
@media (min-width: 960px) {
  .w-lg-100 {
    width: 100% !important;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.track-item > div {
  cursor: pointer;
}


/* TIMELINE
-------------------------------------------------- */
.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
  margin-left: 10px;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ------------------------------------------------------------------------ */
/*  FIXED BUTTON
/* ------------------------------------------------------------------------ */

.material-button-anim {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 100;
}

.material-button {
  position: relative;
  top: 0;
  /*z-index: 100;*/
  width: 60px;
  height: 60px;
  font-size: 1.6em;
  color: #fff;
  background: #6610f2;
  border: none;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,.275);
  outline: none;
}
.material-button a {
  display: block;
  color: #fff;
}
.material-button-toggle {
  z-index: 100;
  width: 60px;
  height: 60px;
}
.material-button-toggle span {
  -webkit-transform: none;
  transform:         none;
  -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
  transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}
.material-button-toggle.open {
  -webkit-transform: scale(1.1, 1.1);
  transform:         scale(1.1, 1.1);
  -webkit-animation: toggleBtnAnim .175s;
  animation:         toggleBtnAnim .175s;
}
.material-button-toggle.open span {
  /*-webkit-transform: rotate(45deg);*/
  /*transform:         rotate(45deg);*/
  /*-webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);*/
  /*transition:         transform .175s cubic-bazier(.175,.67,.83,.67);*/
}
.bg-whatsapp {
  background-color: #54cd62;
}
.bg-telegram {
  background-color: #3ba8eb;
}
.bg-ripple {
  background-color: #f26a6f;
}

.material-button .widget-icon path {
  fill: #fff;
}

#options {
  /*height: 70px;*/
}
.option {
  position: absolute;
}
.option .option1,
.option .option2,
.option .option3,
.option .option4 {
  -webkit-transform: translate3d(0,10px,0) scale(.5, .5);
  transform: translate3d(0,10px,0) scale(.5, .5);
}
.option.scale-on .option1 {
  -webkit-transform: translate3d(0, -260px, 0);
  transform:         translate3d(0, -260px, 0);
}
.option.scale-on .option2 {
  -webkit-transform: translate3d(0, -195px, 0);
  transform:         translate3d(0, -195px, 0);
}
.option.scale-on .option3 {
  -webkit-transform: translate3d(0, -130px, 0);
  transform:         translate3d(0, -130px, 0);
}
.option.scale-on .option4 {
  -webkit-transform: translate3d(0, -65px, 0);
  transform:         translate3d(0, -65px, 0);
}
.option.scale-on .option1,
.option.scale-on .option2,
.option.scale-on .option3,
.option.scale-on .option4 {
  -webkit-transition: all .175s;
  transition:         all .175s;
}

@keyframes toggleBtnAnim {
  0% {
    -webkit-transform: scale(1,1);
    transform:         scale(1,1);
  }
  50% {
    -webkit-transform: scale(1.2,1.2);
    transform:         scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1.3,1.3);
    transform:         scale(1.3,1.3);
  }
}
@-webkit-keyframes toggleBtnAnim {
  0% {
    -webkit-transform: scale(1,1);
    transform:         scale(1,1);
  }
  50% {
    -webkit-transform: scale(1.2,1.2);
    transform:         scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1.3,1.3);
    transform:         scale(1.3,1.3);
  }
}

/* Animation */
.btnBg {
  background-image: linear-gradient(90deg, #6610f2, #407be3);
}
.btnBg:focus {
  outline: none;
}
.material-button .ripple {
  position:absolute;
  width:120px;
  height:120px;
  z-index: 100;
  left:50%;
  top:50%;
  opacity:0;
  margin:-60px 0 0 -60px;
  border-radius:100px;
  -webkit-animation:ripple 1.8s infinite;
  animation:ripple 2s infinite
}
.material-button .ripple:nth-child(2) {
  animation-delay:.3s;
  -webkit-animation-delay:.3s
}
.material-button .ripple:nth-child(3) {
  animation-delay:.6s;
  -webkit-animation-delay:.6s
}
@-webkit-keyframes ripple {
  0%{
    opacity:1;
    -webkit-transform:scale(0);
    transform:scale(0)
  }
  100%{
    opacity:0;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
@keyframes ripple {
  0%{
    opacity:1;
    -webkit-transform:scale(0);
    transform:scale(0)
  }
  100%{
    opacity:0;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
